body {
    font-family: 'Lato', sans-serif;
  }

h1, h2, h3, h4, h5, h6, .display-4, p {
    font-family: 'Roboto', sans-serif;
  }
/* base.html */
/* Logo */
.text-italy-green {
    color: #009246 !important;  /* Italian green */
  }
  
  .text-italy-red {
    color: #ce2b37 !important;  /* Italian red */
  }

/* Base nav-link style */
.nav-link {
    color: black !important;
    transition: color 0.3s ease;
  }
  
  /* Active nav-link (Italian green) */
  .nav-link.active {
    color: #009246 !important;
    font-weight: 600;
  }
  
  .status-login {
    color: #009246 !important;
  }

  .status-log-out {
    color: #CE2B37 !important;

  }

/* index.html */
.hero-image {
    position: relative;
    background-image: url('../bookings/images/minitalycoverimage .jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-light {
    transition: color 0.3s ease;
  }

  .btn-light:hover {
    color: #009246 !important; 
  }
  
  /* menu.html */
  .card.italian-border {
    border: 2px solid #CE2B37;
    border-radius: 10px;
  }

  /* booking_list.html */

  /* Accordion active button background color override */
.accordion-button:not(.collapsed) {
    background-color: #e6f4ec; /* Light Italian green */
    color: #000; /* Keep text readable */
  }
  
  /*  Remove blue border focus */
  .accordion-button:focus {
    box-shadow: none;
    border-color: #e6f4ec;
  }

  /* Make the accordion arrow (chevron) Italian green */
  .accordion-button::after {
    filter: invert(41%) sepia(88%) saturate(577%) hue-rotate(86deg) brightness(90%) contrast(89%);
  }

  /* staff_form.html */
  .form-check-input:checked {
    background-color: #009246;
    border-color: #009246;
  }

  /* dashboard.html */
  .filter-btn {
    background-color: #009246; 
    color: white;
    border: none;
  }

  .filter-btn:hover {
    background-color: #afeecd; 
    color: black;
  }

  .btn-edit {
    background-color: #009246; 
    color: white;
    border: none;
    min-width: 75px;
  }
  
  .btn-edit:hover {
    background-color: #afeecd;
    color: black;
  }
  
  .btn-cancel {
    background-color: #c70039; 
    color: white;
    border: none;
    min-width: 75px;
  }
  
  .btn-cancel:hover {
    background-color: #f07f9d;
    color: black;
  }
  

  /* login.html, logout.html, and signup.html */

  .link {
    color: #01351a; 
  }

  .link:hover {
    color: #007a3d; 
  }

  input[type="checkbox"] {
    accent-color: #009246; 
  }

  .btn-signup {
    background-color: white;
    color: black;
    border: 1px solid #009246;
    margin-bottom: 2rem;
  }
  
  .btn-signup:hover {
    background-color: #afeecd; /* light green on hover */
    
  }
  
  /* Footer */
  .social-icons a i {
    color: black;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover i {
    color: #009246;
  }
