{% extends 'base.html' %}

{% block title %}My Bookings - Minitaly{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">All Bookings</h2>

    {% if bookings %}
        <ul class="list-group">
            {% for booking in bookings %}
                <li class="list-group-item">
                    {{ booking.user.username }} booked on {{ booking.date }} at {{ booking.time }}
                    for {{ booking.num_guests }} guests
                    {% if booking.is_cancelled %}<strong class="text-danger">(Cancelled)</strong>{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No bookings yet.</p>
    {% endif %}
</div>
{% endblock %}

